<EditForm Model="@RadioProfile" OnValidSubmit="@HandleValidSubmit">
  <DataAnnotationsValidator />
  <ValidationSummary />

  <div class="form-group">
    <label data-toggle="tooltip" title="Le nom du profil radio. <br /> Choisissez un nom unique.">Nom du profil</label>
    <InputText @bind-Value="RadioProfile.Name" type="text" class="form-control" id="inputName" placeholder="Mon profil au QRA" />
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label data-toggle="tooltip" title="La fréquence d'émission du module SA818.">Fréquence d'émission</label>
      <InputText @bind-Value="RadioProfile.TxFrequ" type="text" class="form-control" id="inputHost" placeholder="145.450 ou 434.400" />
    </div>
    <div class="form-group col-md-6">
      <label data-toggle="tooltip" title="La fréquence de récéption du module SA818.">Fréquence de récéption</label>
      <InputText @bind-Value="RadioProfile.RxFequ" type="text" class="form-control" id="inputPort" placeholder="145.450 ou 434.400" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label>Tone CTCSS en émission</label>
      <InputSelect @bind-Value="RadioProfile.TxCtcss" class="form-control">
        @foreach (var ct in RadioProfile.Ctcss)
{
<option value="@ct.Key">@ct.Value</option>
}
      </InputSelect>
    </div>
    <div class="form-group col-md-3">
      <label>Tone CTCSS en récéption</label>
      <InputSelect @bind-Value="RadioProfile.RxCtcss" class="form-control">
        @foreach (var ct in RadioProfile.Ctcss)
{
<option value="@ct.Key">@ct.Value</option>
}
      </InputSelect>
    </div>
    <div class="form-group col-md-3">
      <label>Squelch</label>
      <InputSelect @bind-Value="RadioProfile.Squelch" class="form-control">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
      </InputSelect>
    </div>
    <div class="form-group col-md-3">
      <label>Squelch détection</label>
      <InputSelect @bind-Value="RadioProfile.SquelchDetection" class="form-control">
        <option value="CTCSS">CTCSS</option>
        <option value="GPIO">GPIO</option>
        <option value="VOX">VOX</option>
      </InputSelect>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label>Volume</label>
      <InputSelect @bind-Value="RadioProfile.Volume" class="form-control">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
      </InputSelect>
    </div>
    <div class="form-group col-md-3">
      <label>Pre Emphasis</label>
      <InputSelect @bind-Value="RadioProfile.PreEmph" class="form-control">
        <option value="0">Désactivé</option>
        <option value="1">Activé</option>
      </InputSelect>
    </div>
    <div class="form-group col-md-3">
      <label>Passe haut</label>
      <InputSelect @bind-Value="RadioProfile.HightPass" class="form-control">
        <option value="0">Désactivé</option>
        <option value="1">Activé</option>
      </InputSelect>
    </div>
    <div class="form-group col-md-3">
      <label>Passe bas</label>
      <InputSelect @bind-Value="RadioProfile.LowPass" class="form-control">
        <option value="0">Désactivé</option>
        <option value="1">Activé</option>
      </InputSelect>
    </div>
  </div>

  <button type="submit" class="btn btn-success">Sauver</button> <a class="btn btn-primary" href="RadioProfile/Manage" role="button">Annuler</a>
</EditForm>

@code{
  [Parameter]
  public Models.RadioProfile RadioProfile { get; set; }

  [Parameter]
  public string SubmitTitle { get; set; }

  [Parameter]
  public EventCallback<EditContext> HandleValidSubmit { get; set; }
}