<EditForm Model="@RadioProfile" OnValidSubmit="@HandleValidSubmit">
  <DataAnnotationsValidator />
  <ValidationSummary />

  <div class="form-row">
    <div class="form-group">
      <label data-toggle="tooltip" title="Le nom du profil radio. <br /> Choisissez un nom unique.">Nom du profil</label>
      <InputText @bind-Value="RadioProfile.Name" type="text" class="form-control" id="inputName" placeholder="Mon profil au QRA" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Type de TRX</label>
      <InputSelect @bind-Value="RadioProfile.Trx" class="form-control">
        @foreach (var trx in RadioProfile.TrxTypes)
{
@if (RadioProfile.Trx == trx.Key)
{
<option selected value="@trx.Key">@trx.Value</option>
}
else
{
<option value="@trx.Key">@trx.Value</option>
}
}
      </InputSelect>
    </div>
    <div class="form-group col-md-4">
      <label data-toggle="tooltip" title="La fréquence d'émission du module SA818.">Fréquence d'émission</label>
      <InputText @bind-Value="RadioProfile.TxFrequ" type="text" class="form-control" id="inputHost" placeholder="145.450 ou 434.400 par exemple" />
    </div>
    <div class="form-group col-md-4">
      <label data-toggle="tooltip" title="La fréquence de récéption du module SA818.">Fréquence de récéption</label>
      <InputText @bind-Value="RadioProfile.RxFequ" type="text" class="form-control" id="inputPort" placeholder="145.450 ou 434.400 par exemple" />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Tone CTCSS en émission</label>
      <InputSelect @bind-Value="RadioProfile.TxCtcss" class="form-control">
        @foreach (var ct in RadioProfile.Ctcss)
{
<option value="@ct.Key">@ct.Value</option>
}
      </InputSelect>
      <ValidationMessage For="@(() => RadioProfile.TxCtcss)" />
    </div>
    <div class="form-group col-md-4">
      <label>Tone CTCSS en récéption</label>
      <InputSelect @bind-Value="RadioProfile.RxCtcss" class="form-control">
        @foreach (var ct in RadioProfile.Ctcss)
{
<option value="@ct.Key">@ct.Value</option>
}
      </InputSelect>
      <ValidationMessage For="@(() => RadioProfile.RxCtcss)" />
    </div>
    <div class="form-group col-md-4">
      <label>Squelch</label>
      <InputSelect @bind-Value="RadioProfile.Squelch" class="form-control">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
      </InputSelect>
      <ValidationMessage For="@(() => RadioProfile.Squelch)" />
    </div>
  </div>
  <button type="submit" class="btn btn-success">Sauver</button> <a class="btn btn-primary" href="RadioProfile/Manage" role="button">Annuler</a>
</EditForm>

@code{
  [Parameter]
  public Models.RadioProfile RadioProfile { get; set; }

  [Parameter]
  public string SubmitTitle { get; set; }

  [Parameter]
  public EventCallback<EditContext> HandleValidSubmit { get; set; }

}