@page "/Channel/Manage"
@inherits SvxlinkManager.Pages.Channels.ManageBase

<h3>Salons</h3>

<div class="row justify-content-end">
  <div class="col-2">
    <a class="btn btn-outline-success" href="Channel/Create" role="button">Créer</a>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Nom</th>
      <th scope="col">Call</th>
      <th scope="col">Host</th>
      <th scope="col">Port</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var channel in Channels)
    {
    <tr>
      <td>@if (channel.IsDefault) {<span class="oi oi-home" aria-hidden="true"></span>}</td>
      <td>@channel.Name</td>
      <td>@channel.CallSign</td>
      <td>@channel.Host</td>
      <td>@channel.Port</td>
      <td><a class="btn btn-outline-primary" href="Channel/Edit/@channel.Id" role="button">Editer</a> <button type="button" class="btn btn-danger" @onclick="@(()=>Delete(channel.Id))">Supprimer</button></td>
    </tr>
    }
  </tbody>
</table>



