@using System.Globalization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<AddEditForm> Loc

<EditForm Model="@Reflector" OnValidSubmit="@HandleValidSubmit">
  <DataAnnotationsValidator />
  <ValidationSummary />

  <div class="form-row">
    <div class="form-group">
      <label data-toggle="tooltip" title="@Loc["InputNameToolTip"]">@Loc["InputNameLabel"]</label>
      <InputText @bind-Value="Reflector.Name" type="text" class="form-control" id="inputName" placeholder="@Loc["InputNamePlaceHolder"]" />
    </div>
    <div class="form-group col-md-12">
      <small id="svxlinkconfHelp" class="form-text text-muted">@Loc["ReflectorDocLink"] <a href="http://www.svxlink.org/doc/man/man5/svxreflector.conf.5.html" target="_blank">@Loc["Here"]</a></small>
      <pre id="reflectorconf" class="editor">@Reflector.Config</pre>
      <InputTextArea @bind-Value="@Reflector.Config" type="text" class="form-control fileEditor" id="reflectorconf-textarea" />
    </div>
  </div>

  <button type="submit" class="btn btn-success">Sauver</button> <a class="btn btn-primary" href="Reflector/Manage" role="button">@Loc["BtnCancel"]</a>
</EditForm>

@code{
  [Parameter]
  public SvxlinkManager.Domain.Entities.Reflector Reflector { get; set; }

  [Parameter]
  public string SubmitTitle { get; set; }

  [Parameter]
  public EventCallback<EditContext> HandleValidSubmit { get; set; }
}