@using SvxlinkManager.Domain.Entities

@page "/AdvanceChannel/Create"
@inherits SvxlinkManager.Pages.Channels.CreateBase<AdvanceSvxlinkChannel, Create>

<h3>@Loc["AddChannel"]</h3>

<AddEditForm Channel="@Channel" HandleValidSubmit="@(()=>HandleValidSubmit("AdvanceChannel"))" SubmitTitle="@SubmitTitle" CanEditType="@CanEditType" />