@using SvxlinkManager.Domain.Entities;

@page "/AdvanceChannel/Edit/{Id}"
@inherits SvxlinkManager.Pages.AdvanceChannel.EditBase

<h3>
  @if (Channel.IsDefault)
  {<span class="oi oi-home" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Le salon @Channel.Name est actuellement le salon par défaut."></span>}
  @string.Format(Loc["EditChannel"], Channel.Name)
</h3>

<AddEditForm Channel="@Channel" HandleValidSubmit="@(()=>HandleValidSubmit("AdvanceChannel"))" SubmitTitle="@SubmitTitle" CanEditType="@CanEditType" />