@inherits SvxlinkManager.Pages.Wifi.ManageBase

<EditForm Model="@Device">
  <DataAnnotationsValidator />

  <li class="list-group-item">
    <div class="row">
      <div class="col-md-2 text-nowrap">
        @Device.Ssid
      </div>
      <div class="col-md-2 text-nowrap">
        @Device.Rate
      </div>
      <div class="col-md-2 text-nowrap">
        @Device.Bars
      </div>
      <div class="col-md-2 text-nowrap">
        @Device.Security
      </div>
      <div class="col-md-2 text-nowrap">
        <InputText @bind-Value="@Device.Password" type="password" class="form-control" />
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-outline-primary" @onclick="(()=> Connect(Device))">Connecter</button>
      </div>
    </div>
  </li>
</EditForm>

@code {
  [Parameter]
  public Device Device { get; set; }

}