@using SvxlinkManager.Service
@using System.Globalization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<Manage> Loc

<ul id="channel-manage-list" class="list-group-horizontal">
  @foreach (var release in Releases)
  {
    if (release.IsValid())
    {

      <li class="list-group-item">
        <div class="row">
          <div class="col-xl-3 text-nowrap">
            @release.Name
          </div>
          <div class="col-xl-2 text-nowrap">@release.Created</div>
          <div class="col-xl-3 text-truncate"><a href="@release.HtmlUrl" target="_blank">@Loc["ReleaseDetails"]</a></div>
          <div class="col-xl-2 text-nowrap">@Loc["Downloads", release.Package.DownloadCount]</div>
          <div class="col-xl-2">
            @if (!UpdaterService.IsCurrent(release))
            {
              @if (UpdaterService.IsExist(@release))
              {
                <button id="install-@release.Id" data-toggle="tooltip" title="@Loc["BtnInstallerToolTip"]" type="button" class="btn btn-danger" @onclick="@(() => OnInstall.InvokeAsync(release))">@Loc["BtnInstaller"]</button>
              }
              else
              {
                <button id="download-@release.Id" type="button" class="btn btn-outline-success" @onclick="() => OnDownload.InvokeAsync(release)">@Loc["BtnDownload"]</button>
              }
            }
            else
            {
              <a class="btn btn-primary" href="Channel/Manage" role="button">@Loc["BtnCurrentVersion"]</a>
            }
          </div>
        </div>
      </li>
    }
  }
</ul>

@code {
  [Parameter]
  public List<Release> Releases { get; set; }

  [Parameter]
  public EventCallback<Release> OnDownload { get; set; }

  [Parameter]
  public EventCallback<Release> OnInstall { get; set; }

  [Inject]
  public UpdaterService UpdaterService { get; set; }
}