@page "/Updater/Manage"
@inherits SvxlinkManager.Pages.Updater.ManageBase

@attribute [Authorize]

<h3>Releases</h3>
<form>
  <div class="form-check">
    <input class="form-check-input" @bind="IncludePrerelease" type="checkbox" id="IncludePrerelease">
    <label class="form-check-label" for="defaultCheck1">
      Inclure les versions preview
    </label>
  </div>
  
</form>
<ul id="channel-manage-list" class="list-group-horizontal">
  @foreach (var release in Releases)
  {
    <li class="list-group-item">
      <div class="row">
        <div class="col-md-3 text-nowrap">
          @release.Name
        </div>
        <div class="col-md-2 text-nowrap">@release.Created</div>
        <div class="col-md-5 text-truncate"><a href="@release.HtmlUrl" target="_blank">Détails de la release</a></div>
        <div class="col-md-2">
          @if (!IsCurrent(release))
          {
            @if (IsExist(@release))
            {
              <button id="install-@release.Id" data-toggle="tooltip" title="L'installation peut prendre un certain temps. <br /> Vous devrez recharger la page dans 30 secondes environ." type="button" class="btn btn-danger" @onclick="@(() => InstallAsync(release))">Installer</button>
            }
            else
            {
              <button id="download-@release.Id" type="button" class="btn btn-info" @onclick="@(() => DownloadAsync(release))">Obtenir</button>
            }
          }
          else
          {
            <a class="btn btn-primary" href="Channel/Manage" role="button">Version courante</a>
          }
        </div>
      </div>
    </li>
  }
</ul>