@using System.Globalization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<Resume> Loc

<div class="alert alert-primary" role="alert">
  @Loc["AlertHeader"]
</div>

<EditForm Model="@InstallerModel" OnValidSubmit="()=>OnSubmit.InvokeAsync(InstallationStatus.Progress)">

  <h4>@Loc["GeneralInfos"]</h4>
  <ul id="channel-manage-list" class="list-group-horizontal">

    <li class="list-group-item">
      <div class="row">
        <div class="col-xl-2  text-nowrap font-weight-bold">
          @Loc["UserLabel"]
        </div>
        <div class="col-xl-10">@InstallerModel.UserName</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xl-2  text-nowrap font-weight-bold">
          @Loc["CallLabel"]
        </div>
        <div class="col-xl-10">@InstallerModel.CallSign</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xl-2  text-nowrap font-weight-bold">
          @Loc["AnnoncedCallLabel"]
        </div>
        <div class="col-xl-10">@InstallerModel.AnnonceCallSign</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xl-2  text-nowrap font-weight-bold">
          @Loc["ChannelsToInstall"]
        </div>
        <div class="col-xl-10">@InstallerModel.ChannelsToPreservedList</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xl-2  text-nowrap font-weight-bold">
          @Loc["DefaultChannel"]
        </div>
        <div class="col-xl-10">@InstallerModel.DefaultChannel.Name</div>
      </div>
    </li>
  </ul>

  <h4>Profil radio</h4>
  <ul id="channel-manage-list" class="list-group-horizontal">

    <li class="list-group-item">
      <div class="row">
        <div class="col-xl-2  text-nowrap font-weight-bold">
          @Loc["RxFrequencyLabel"]
        </div>
        <div class="col-xl-10">@InstallerModel.RadioProfile.RxFequ CTCSS: @InstallerModel.RadioProfile.RxTone</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col-xl-2  text-nowrap font-weight-bold">
          @Loc["TxFrequencyLabel"]
        </div>
        <div class="col-xl-10">@InstallerModel.RadioProfile.TxFrequ CTCSS: @InstallerModel.RadioProfile.TxTone</div>
      </div>
    </li>
  </ul>

  @if (InstallerModel.UpdateToLastRelease)
  {
    <h4>@Loc["UpdateTitle"]</h4>
    <div class="alert alert-warning" role="alert">
      @Loc["AlertInstall"]
    </div>
    <ul id="channel-manage-list" class="list-group-horizontal">

      <li class="list-group-item">
        <div class="row">
          <div class="col-xl-2  text-nowrap font-weight-bold">
            @Loc["ReleaseToInstall"]
          </div>
          <div class="col-xl-10">@InstallerModel.LastRelease.TagName</div>
        </div>
      </li>
    </ul>

  }

  <button class="btn btn-primary" type="button" role="button" @onclick="()=>OnSubmit.InvokeAsync(InstallationStatus.Security)">@Loc["BtnUpdate"]</button> <button class="btn btn-danger" type="submit">@Loc["BtnInstall"]</button>
</EditForm>

@code {
  [Parameter]
  public InstallerModel InstallerModel { get; set; }

  [Parameter]
  public EventCallback<InstallationStatus> OnSubmit { get; set; }

}