@page "/"

@inherits SvxlinkManager.Pages.HomeBase

<div class="d-inline-block">
  <h3>
    @Loc["Channels"]
  </h3>
</div>
@if (TemporizationIsActive)
{
  <div class="d-inline-block" style="margin-left:5px;">
    <span class="badge badge-info">@TemporizationValue</span>
  </div>
}

@if (Scanning)
{
  <div class="blink d-inline-block" style="margin-left:5px;">
    <span class="badge badge-danger">@Loc["Scan"]</span>
  </div>
}

<div class="row">
  <div class="col-5">
    <div class="d-inline-block">
      <select class="form-control" @bind="@Channel" style="width:auto;">
        <option value="0">@Loc["Disconnect"]</option>
        <option value="1000">@Loc["Parrot"]</option>
        @foreach (var channel in Channels)
        {
          <option value="@channel.Id">@channel.Name</option>
        }
      </select>
    </div>
    @if (CurrentTxNode != null)
    {
      <div class="d-inline-block">
        <Node CurrentNode="@CurrentTxNode" />
      </div>
    }
  </div>
</div>

<div class="row node-list">
  <div class="col">
    @foreach (var node in Nodes)
    {
      <Node CurrentNode="@node" />
    }
  </div>
</div>

@code {
  public string Subtitle
  {
    get
    {
      if (Nodes.Any())
        return $"{Nodes.Count} {Status}";
      else
        return $"{Status}";
    }
  }

}