@page "/"
@attribute [Authorize]

@inherits SvxlinkManager.Pages.HomeBase

<h3>Salons <small>(@Subtitle)</small></h3> 

<div class="row">
  <div class="col-5">
    <div class="d-inline-block">
      <select class="form-control" @bind="@Channel" style="width:auto;">
        <option value="0">Déconnecter</option>
        <option value="1000">Perroquet</option>
        @foreach (var channel in Channels)
        {
          <option value="@channel.Id">@channel.Name</option>
        }
      </select>
    </div>
    <div class="d-inline-block">
      @if (CurrentTxNode != null)
      {<Node CurrentNode="@CurrentTxNode" />}
    </div>
  </div>

</div>

<div class="row node-list">
  <div class="col">
    @foreach (var node in Nodes)
    {
      <Node CurrentNode="@node" />
    }
  </div>
</div>

@code {
  public string Subtitle
  {
    get
    {
      if (Nodes.Any())
        return $"{Nodes.Count} {Status}";
      else
        return $"{Status}";
    }
  }

}

