@using System.IO;

@using System.Globalization
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<AddEditForm> Loc

<EditForm Model="@Channel" OnValidSubmit="@HandleValidSubmit">
  <DataAnnotationsValidator />
  <ValidationSummary />

  <div class="form-row">
    <div class="form-group col-md-6">
      <label data-toggle="tooltip" title="@Loc["InputNameToolTip"]">@Loc["InputNameLabel"]</label>
      <InputText @bind-Value="Channel.Name" type="text" class="form-control" id="inputName" placeholder="@Loc["InputNamePlaceHolder"]" />
    </div>
    <div class="form-group col-md-6">
      <label data-toggle="tooltip" title="@Loc["InputSoundToolTip"]">@Loc["InputSoundLabel"] @CurrentSoundName</label>
      <InputFile OnChange="@OnInputFileChange" class="form-control" id="inputSound" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label data-toggle="tooltip" title="@Loc["InputHostToolTip"]">@Loc["InputHostLabel"]</label>
      <InputText @bind-Value="Channel.Host" type="text" class="form-control" id="inputHost" placeholder="@Loc["InputHostPlaceHolder"]" />
    </div>
    <div class="form-group col-md-6">
      <label data-toggle="tooltip" title="@Loc["InputMaxQsoToolTip"]">@Loc["InputMaxQsoLabel"]</label>
      <InputNumber @bind-Value="Channel.MaxQso" type="text" class="form-control" id="inputMaxQso" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label data-toggle="tooltip" title="@Loc["InputCallSignToolTip"]">@Loc["InputCallSignLabel"]</label>
      <InputText @bind-Value="Channel.CallSign" type="text" class="form-control" id="inputCallSign" placeholder="@Loc["InputCallSignPlaceHolder"]" />
    </div>
    <div class="form-group col-md-4">
      <label data-toggle="tooltip" title="@Loc["InputPasswordToolTip"]">@Loc["InputPasswordLabel"]</label>
      <InputText @bind-Value="Channel.Password" type="password" class="form-control" id="inputPassword" />
    </div>
    <div class="form-group col-md-4">
      <label data-toggle="tooltip" title="@Loc["InputSysopToolTip"]">@Loc["InputSysopLabel"]</label>
      <InputText @bind-Value="Channel.SysopName" type="text" class="form-control" id="inputSysop" />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label data-toggle="tooltip" title="@Loc["InputLocationToolTip"]">@Loc["InputLocationLabel"]</label>
      <InputText @bind-Value="Channel.Location" type="text" class="form-control" id="inputLocation" placeholder="@Loc["InputLocationPlaceHolder"]" />
    </div>
    <div class="form-group col-md-6">
      <label data-toggle="tooltip" title="@Loc["InputDescriptionToolTip"]">@Loc["InputDescriptionLabel"]</label>
      <InputText @bind-Value="Channel.Description" type="text" class="form-control" id="inputDescription" />
    </div>
  </div>

  @if (CanEditType)
  {
    <div class="form-row">
      <div class="form-group col-md-2">
        <div class="form-check form-check-inline">
          <div class="pretty p-default p-curve p-bigger">
            <InputCheckbox @bind-Value="IsDefault" type="checkbox" id="inputIsDefault" />
            <div class="state">
              <label data-toggle="tooltip" title="@Loc["InputIsDefaultToolTip"]">@Loc["InputIsDefaultLabel"]</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group col-md-2">
        <div class="form-check form-check-inline">
          <div class="pretty p-default p-curve p-bigger">
            <InputCheckbox @bind-Value="IsTemporized" type="checkbox" id="inputIsTemporized" />
            <div class="state">
              <label data-toggle="tooltip" title="@Loc["InputIsTemporizedToolTip"]">@Loc["InputIsTemporizedLabel"]</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  }

  <button type="submit" class="btn btn-success">@SubmitTitle</button> <a class="btn btn-primary" href="Echolink/Manage" role="button">@Loc["BtnCancel"]</a>
</EditForm>

@code{
  [Parameter]
  public Models.EcholinkChannel Channel { get; set; }

  [Parameter]
  public string SubmitTitle { get; set; }

  [Parameter]
  public bool CanEditType { get; set; }

  [Parameter]
  public EventCallback<EditContext> HandleValidSubmit { get; set; }

  protected bool IsDefault
  {
    get => Channel.IsDefault;
    set
    {
      Channel.IsDefault = value;
      if (value)
        IsTemporized = false;
    }
  }

  protected bool IsTemporized
  {
    get => Channel.IsTemporized;
    set
    {
      Channel.IsTemporized = value;
      if (value)
        IsDefault = false;
    }
  }

  private void OnInputFileChange(InputFileChangeEventArgs eventArgs)
  {
    Channel.SoundBrowserFile = eventArgs.File;
  }

  public string CurrentSoundName
  {
    get
    {
      if (!string.IsNullOrEmpty(Channel.Sound.SoundName))
      {
        return $"({Channel.Sound.SoundName})";
      }
      else
        return string.Empty;
    }
  }

}