@using SvxlinkManager.Domain.Entities

@page "/Echolink/Create"
@inherits SvxlinkManager.Pages.Channels.CreateBase<EcholinkChannel, Create>

<h3>@Loc["CreateTitle"]</h3>

<AddEditForm Channel="@Channel" HandleValidSubmit="@(()=>HandleValidSubmit("Echolink"))" SubmitTitle="@SubmitTitle" CanEditType="@CanEditType" />