@using SvxlinkManager.Models

@page "/Echolink/Edit/{Id}"
@inherits SvxlinkManager.Pages.Channels.EditBase<EcholinkChannel>

<h3>
  @if (Channel.IsDefault)
  {<span class="oi oi-home" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Le salon @Channel.Name est actuellement le salon par défaut."></span>}
  Editer @Channel.Name
</h3>

<AddEditForm Channel="@Channel" HandleValidSubmit="@(()=>HandleValidSubmit("Echolink"))" SubmitTitle="@SubmitTitle" CanEditType="@CanEditType" />