@using SvxlinkManager.Models

@page "/Echolink/Edit/{Id}"
@inherits SvxlinkManager.Pages.Channels.EditBase<EcholinkChannel, Edit>

<h3>
  @if (Channel.IsDefault)
  {<span class="oi oi-home" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="@Loc["EditIsDefault", Channel.Name]"></span>}
  @Loc["EditTitle"] @Channel.Name
</h3>

<AddEditForm Channel="@Channel" HandleValidSubmit="@(()=>HandleValidSubmit("Echolink"))" SubmitTitle="@SubmitTitle" CanEditType="@CanEditType" />