@using SvxlinkManager.Models

@page "/Channel/Create"
@inherits SvxlinkManager.Pages.Channels.CreateBase<SvxlinkChannel, Create>

<h3>@Loc["AddNewRoom"]</h3>

<AddEditForm Channel="@Channel" HandleValidSubmit="@(()=>HandleValidSubmit("Channel"))" SubmitTitle="@SubmitTitle" CanEditType="@CanEditType" />