@using SvxlinkManager.Domain.Entities

@page "/Channel/Edit/{Id}"
@inherits SvxlinkManager.Pages.Channels.EditBase<SvxlinkChannel, Edit>

<h3>
  @if (Channel.IsDefault)
  {<span class="oi oi-home" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="@string.Format(Loc["RoomIsDefault"], Channel.Name)"></span>}
  @string.Format(Loc["EditRoom"], Channel.Name)
</h3>

<AddEditForm Channel="@Channel" HandleValidSubmit="@(()=>HandleValidSubmit("Channel"))" SubmitTitle="@SubmitTitle" CanEditType="@CanEditType" />